<%= form_tag(movies_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "search movies" %>
  <%= submit_tag "Search" %>
  <br>
<% end %>

<% if @found_movies.present? %>
  <br>
  <%= link_to "Back to all movies", movies_path %>
  <br>
  <h2>Search results:</h2>
  <% @found_movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url, :width => "200"), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %> | <%= movie.review_average %>/10</h2>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <%= image_tag movie.image_url(:thumb).to_s %>   <!-- .to_s to avoid problem of nil if no image -->
  <p><%= movie.description %></p>
  <hr>
  <% end %>
<% else %>
  <p>There are no movies containing your search term(s) <%= params[:search] %>.</p>
<% end %>